# This is a configuration file for Tenable API scripts

# Base API URL and other base API requirements
APIBaseURL=https://cloud.tenable.com

#Tenable portal login authentication.
AccessKey=
Secret=

#Slack Notification stuff
NotificationURL=https://slack.com/api/chat.postMessage
NotifyChannel=
NotifyToken=
NotifyEnabled=No